{{ define "main" }}

{{/* This template is for list of all publications in a Section */}}
<div class="articles">
    {{ with .Title }}<h1 class="page-title">{{ . }}</h1>{{ end }}

    {{/* Render category content if any */}}
    {{ with .Content }}
        <div class="section-content">
            {{ .Content }}
        </div>
    {{ end }}

    {{/* Render posts list */}}
    <div class="post-list" style="margin: 0; padding-left: 1rem;">
        {{ range .Paginator.Pages }}
        <li class="post-item" style="margin-bottom: -0.5rem;">
            {{ .Render "teaser" }}
        </li>
        {{ end }}

        {{ partial "pagination.html" . }}
    </div>
</div>

{{ end }}
